label {
  font-size: 14px;
  color: $blue;
  font-weight: 700;
  margin-bottom: 8px;
  font-family: $montserrat;
}

::placeholder {
  color: $lightgray;
  opacity: 1;
}

.warning {
  background-color: rgb(181 185 190 / 30%);
  border: rgb(181 185 190 / 50%);
}

input [type="text"],
input.form-control {
  background-color: rgb(181 185 190 / 9%) !important;
  font-size: 1.125rem;
  line-height: 2.5;
  padding: 0 15px;
}

input [type="text"]::placeholder,
input.form-control::placeholder {
  color: #ccc;
}

input.form-control.max-width-250 {
  @media (width <= 767px) {
    max-width: 250px !important;
  }
}

input:is([type="date"],
[type="time"],
[type="datetime-local"],
[type="month"],
[type="week"]) {
  min-height: 46px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.form-check-input {
  margin-top: 0;
}

// Search And Filter

.searchandfilter ul {
  padding-left: 0;
}

.sf-field-submit {
  button {
    background-color: $black;
    color: $white !important;
    text-align: center;
    letter-spacing: 0;
    text-transform: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4em;
    border: 0;

    &:hover {
      background-color: $blue;
      color: $white;
    }
  }
}

// select

select {
  display: block;
  font-size: 16px;
  color: #444;
  line-height: 2.5 !important;
  padding: 0 15px !important;
  width: auto;
  height: 52px;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid $lightgray !important;
  border-radius: 4px;
  /* stylelint-disable */
  -moz-appearance: none;
  -webkit-appearance: none;
  /* stylelint-enable */
  appearance: none;
  background-color: #fff;
  background-image:
    url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #fff 0%, #f9f9f9 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

/* Hide arrow icon in IE browsers */
select::-ms-expand {
  display: none;
}

/* Hover style */
select:hover {
  border-color: #888;
}

/* Focus style */
select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59 153 252 / 70%);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* Set options to normal weight */
select option {
  font-weight: normal;
}

/* Disabled styles */
select:disabled,
select[aria-disabled="true"] {
  color: graytext;
  background-image:
    url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] select,
:root:lang(ar) select,
:root:lang(iw) select {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

select:disabled:hover,
select[aria-disabled="true"] {
  border-color: #aaa;
}
